.panel{

        margin-left:0;
        margin-bottom:20px;

        margin-top:27px;
        padding: 20px 35px 30px;

        &.nopadding{ padding:0; }
        .content-padding,
        .content-title,
        .content-footer{
                padding: 20px 35px 20px;
                display:block;
                width:100%;
                box-sizing:border-box;
                h2{ float:left; }
        }
        .content-title a.btn{
                float:right;
                box-sizing:border-box;
        }

        h2{
                font-size:24px;
                font-weight:normal;
                margin:0;

                line-height:44px;
        }
        &.small-panel{
                max-width:580px;
                margin:0 auto;
                margin-top:27px;
        }
}
.flexrow > .panel{
        margin-right:20px;
        &:last-child{
                margin-right: 0;
        }
}
.panel-basic{
        background:#fff;
        margin-top:27px;
        padding: 20px 35px 30px;
        border:1px solid #B7D2E5;
        /*max-width:1440px;*/
        border-radius: 4px 4px 0 0;
        &.nopadding{ padding:0; }
        &.maxwidth{
                max-width:740px;
        }
}


.panel-tab{
        background: $panel-bg;
        max-width:1240px;
        display: flex;
        padding:0;
        .tab-content{
                width: calc(100% - 180px);
                background:#fff;
                padding:22px;
                box-sizing: border-box;
                .tab-content-panel{
                        display:none;
                        &.active{
                                display:inherit;
                        }
                }
        }
        .tab-navigation{
                width:180px;
                box-sizing: border-box;
                margin:0;
                padding:0;
                li{

                        position: relative;
                        display: block;
                        list-style-type: none;
                        padding:0;
                        a{
                                padding:15px;
                                display: block;
                                i{
                                        margin-right:15px;
                                        opacity:0.5;
                                }
                                &.active{
                                        background:#fff;
                                        i{
                                                color:$primary;
                                                opacity:1;
                                        }
                                }
                        }

                }
        }
}



.panel-top-tab{
        max-width:1240px;
        padding:0;
        .tab-content{
                width: 100%;
                background:#fff;
                padding:22px;
                box-sizing: border-box;
                float: left;
                &.nopadding{
                        padding:22px 0;
                }
                .padding{
                        padding: 0 22px;
                }
                .tab-content-panel{
                        display:none;
                        &.active{
                                display:inherit;
                        }
                }
        }
        .tab-navigation{
                width:100%;
                background:none !important;
                box-sizing: border-box;
                margin:0;
                padding:0;
                border-bottom: 1px solid #ddd;
                min-height:32px;
                margin-top:44px;
                li{
                        float:left;
                        list-style-type: none;
                        padding:0;
                        margin-right:10px;


                        a{
                                font-size: 14px;
                                margin-right: 2px;
                                border: 1px solid transparent;
                                padding: 11px 22px;
                                position: relative;

                                i{
                                        margin-right:15px;
                                        opacity:0.5;
                                }
                                &.active,
                                &:hover{
                                        background-color: #fff;
                                        border: 1px solid #E7E8EA;
                                        border-bottom-color: #fff;
                                        border-left-color: #eee;
                                        cursor: default;
                                        i{
                                                color:$primary;
                                                opacity:1;
                                        }
                                }
                        }

                }
        }
}


.panel-title{
        /* Filter: */
        font-family: Heebo-Regular;
        font-size: 17px;
        color: #2C4059;
        letter-spacing: 0;
        line-height: 22px;
        padding: 20px 30px;
        border-bottom:1px solid $table-border-color;
}
.panel-content{
        background: $panel-bg-light;
        &.padding{
                padding:30px;
        }

}

.panel-row{
        border-bottom:1px solid $table-border-color;
        padding:10px 30px;
        line-height:30px;
        .ifblock{
                width: 50px;
                height: 30px;
                background: #ccc;

                border-radius:8px;
                float:left;
                line-height:30px;
                text-align: center;
                color:#fff;
                font-size:16px;
                margin-right:20px;
                margin-top:3px;
        }
        select, input{
                height:30px;
                margin-right:20px;
        }
}

.stat_top_block{
        flex:1;
        margin-right:20px;
        padding:10px 30px;
        max-width:300px;
        .title{
                font-family: Heebo-Medium;
                text-transform: uppercase;
                color: #8DABC4;
                margin-bottom:12px;
        }

        .numeric{
                font-family: Heebo-Medium;
                text-transform: uppercase;
                font-size:22px;
                margin-bottom:10px;
                .status{
                        float:right;
                        color:#aaa;
                        i{ color:#aaa; }
                }
        }

        .statusbar{
                width:100%;
                border-radius:8px;
                background:#eee;
                height:8px;
                margin-bottom:12px;
                position: relative;
                opacity:0.5;
                .bar{
                        height:8px;
                        position: absolute;
                        background: #cccccc;
                        border-radius:8px;
                }
        }

        .substat{
                font-family: Heebo-Medium;

                color: #8DABC4;
        }

        &:last-child{
                margin-right:0;
        }
        transition:all 0.2s ease;
        &.clickable:hover,
        &.active{
                border-color:darken(#B7D2E5,20);
                cursor: pointer;
        }
}

.info{
        .bar {
                background: $primary600 !important;
        }
        .statusbar{
                background: $primary300 !important;
        }
}

.success {
        .bar{
                background: $success !important;
        }
        .statusbar {
                background: $success-light !important;
        }
}

.warning {
        .bar{
                background: $warning !important;
        }
        .statusbar {
                background: $warning-light !important;
        }
}

.error {
        .bar{
                background: $danger !important;
        }
        .statusbar {
                background: $danger-light !important;
        }
}

.table_label{
        border:1px solid $success;
        border-radius:10px;
        padding:3px 10px;
        color: $success;
        opacity:0.8;

        &.label_warning{
                border-color: $warning;
                color: $warning;
        }
        &.label_error{
                border-color: $danger;
                color: $danger;
        }
        &.label_info{
                border-color: $primary600;
                color: $primary600;
        }
}